flow.json
[
    {
        "id": "87c7e66fa7794503",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63e809e1618e379e",
        "type": "causeeffect",
        "z": "87c7e66fa7794503",
        "name": "",
        "props": [],
        "property": "attributes",
        "propertyType": "msg",
        "treatment": false,
        "outcome": false,
        "showeffects": false,
        "edgestrength": "",
        "causalmechanisms": "",
        "intrinsiceffects": "",
        "jsondigraph": "",
        "fx": "",
        "edgedependencetest": "",
        "localmarkovtest": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a88ded9ff0ec74e9"
            ]
        ]
    },
    {
        "id": "a88ded9ff0ec74e9",
        "type": "causeeffect",
        "z": "87c7e66fa7794503",
        "name": "",
        "props": [],
        "property": "attributes",
        "propertyType": "msg",
        "treatment": false,
        "outcome": false,
        "showeffects": false,
        "edgestrength": "",
        "causalmechanisms": "",
        "intrinsiceffects": "",
        "jsondigraph": "",
        "fx": "",
        "edgedependencetest": "",
        "localmarkovtest": "",
        "x": 150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fa46739dc1b9dacc",
        "type": "attribute",
        "z": "87c7e66fa7794503",
        "name": "",
        "props": [
            {
                "p": ""
            },
            {
                "p": "",
                "vt": ""
            }
        ],
        "property": "attributes",
        "dbtype": "",
        "propertyType": "msg",
        "abstract": false,
        "x": 180,
        "y": 200,
        "wires": [
            []
        ]
    }
]